<h1>Shows</h1>
<div class="row">
  <div class="col-8 mx-auto">
    <button
      class="btn btn-primary create"
      data-toggle="modal"
      data-target="#newModal"
    >
      Create Show
    </button>
  </div>
  <div class="col-8 mx-auto">
    <table class="table">
      <thead>
        <th>Show ID</th>
        <th>Show Name</th>
        <th>Date of Start</th>
        <th>Partisipants count</th>
      </thead>
      <tbody>
        <tr *ngFor="let show of shows">
          <td>{{ show.showID }}</td>
          <td>{{ show.showName }}</td>
          <td>{{ show.dateOfStart }}</td>
          <td>{{ show.partisipantsCount }}</td>
          <td>
            <button
              class="btn btn-info"
              (click)="onEditClick($event, i)"
              data-toggle="modal"
              data-target="#editModal"
            >
              Edit
            </button>
            <button
              class="btn btn-info"
              (click)="onDeleteClick($event, i)"
              data-toggle="modal"
              data-target="#deleteModal"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">New Show</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtNewShowID" class="col-sm-4 col-form-label"
              >Show ID</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewShowID"
                style="width: 100px"
                class="form-control"
                placeholder="Show ID"
                name="ShowID"
                [(ngModel)]="newShow.showID"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewShowName" class="col-sm-4 col-form-label"
              >Show Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewShowName"
                class="form-control"
                placeholder="Show Name"
                name="ShowName"
                [(ngModel)]="newShow.showName"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label"
              >Date of Start</label
            >
            <div class="col-sm-8">
              <input
                type="date"
                id="txtNewDateOfStart"
                style="width: 150px"
                class="form-control"
                placeholder="Date of Start"
                name="DateOfStart"
                [(ngModel)]="newShow.dateOfStart"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtPartisipantsCount" class="col-sm-4 col-form-label"
              >Patricipants count</label
            >
            <div class="col-sm-8">
              <input
                type="number"
                id="txtPartisipantsCount"
                style="width: 150px"
                class="form-control"
                placeholder="Participants count"
                name="PartisipantsCount"
                [(ngModel)]="newShow.partisipantsCount"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onSaveClick()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Edit Show -->
<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">Edit Project</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtEditProjectID" class="col-sm-4 col-form-label"
              >Project ID</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectID"
                style="width: 100px"
                class="form-control-plain-text"
                placeholder="Project ID"
                name="ProjectID"
                [(ngModel)]="editShow.showID"
                disabled="disabled"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditProjectName" class="col-sm-4 col-form-label"
              >Project Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectName"
                class="form-control"
                placeholder="Project Name"
                name="ProjectName"
                [(ngModel)]="editShow.showName"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditDateOfStart" class="col-sm-4 col-form-label"
              >Date of Start</label
            >
            <div class="col-sm-8">
              <input
                type="date"
                id="txtEditDateOfStart"
                style="width: 150px"
                class="form-control"
                placeholder="Date of Start"
                name="DateOfStart"
                [(ngModel)]="editShow.dateOfStart"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtEditTeamSize" class="col-sm-4 col-form-label"
              >Team Size</label
            >
            <div class="col-sm-8">
              <input
                type="number"
                id="txtEditTeamSize"
                style="width: 150px"
                class="form-control"
                placeholder="Team Size"
                name="TeamSize"
                [(ngModel)]="editShow.partisipantsCount"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onUpdateClick()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Show -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <div class="modal-title">Delete Show</div>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-warning">Are you sure to delete this Show?</div>

          <div class="form-group row">
            <label for="txtDeleteShowID" class="col-sm-4 col-form-label"
              >Show ID</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtDeleteShowID"
                style="width: 100px"
                class="form-control-plain-text"
                placeholder="Show ID"
                name="ShowID"
                [(ngModel)]="deleteShow.showID"
                disabled="disabled"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="txtDeleteShowName" class="col-sm-4 col-form-label"
              >Show Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="txtDeleteShowName"
                class="form-control-plain-text"
                placeholder="Show Name"
                name="ShowName"
                [(ngModel)]="deleteShow.showName"
                disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onDeleteConfirmClick()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
