<header class="header">
  <h1>OurSite - наш маленький сайтик на якому є все необхідне</h1>
</header>

<div class="main">
  <div class="main__nav">
    <ul>
      <li class="nav__home"><a routerLink="startPage">Home page</a></li>
      <li>
        <a routerLink="jfquestion">Загадка від Жака</a>
      </li>
      <li><a routerLink="catManager">Менеджер котів</a></li>
      <li><a routerLink="shows">Виставки</a></li>
    </ul>
  </div>
  <router-outlet> </router-outlet>
</div>
<footer class="footer">
  <p>Contacts: admin@mysyte.com</p>
  <p>Copyright © OurSite.com, 2042</p>
</footer>
